/************************************
ヘッダー
************************************/
header {
  height: 10vh;
  width: 100%;
  background-color: rgba($color: crimson, $alpha: 0.8);
  display: flex;
  justify-content: space-between;

  .header-left {
    width: 13%;
    text-align: center;
    line-height: 10vh;
    font-size: 20px;
    a {
      color: cyan;
      font-weight: bold;
    }
  }
  
  .header-contents {
    display: flex;
    width: 50%;
    text-align: center;
    div {
      border-left: 1px solid palevioletred;
      border-right: 1px solid palevioletred;
      width: 25%;
      line-height: 10vh;
      box-shadow: 2px 3px 0 0;
      a {
        color: gold;
        font-size: 15px;
        display: block;
      }
    }
  }
}

/***********************************************
index
***********************************************/
.container {
  height: 100vh;
  background-color: midnightblue;
  padding-bottom: 30px;
}

.board-genre {
  color: lavender;
  text-align: center;
}

.about-service {
  color: lavender;
  margin-left: 8px;
}

.post-form {
  height: 37vh;
  margin-left: 2%;
  div {
    color: white;
  }
  .submit {
    margin-top: 1%;
  }

  .password, .room_id {
    width: 11vw
  }
}

.posts-wrapper {
  width: 90%;
  margin: 50px auto 0 auto;
  padding: 30px 0;
  background-color: lightskyblue;
  border-radius: 10px;
  .post-content {
    width: 90%;
    background-color: white;
    border-radius: 10px;
    margin: 2% auto 0 auto;
  }
  .updated_at {
    text-align: right;
    padding-right: 4%;
  }
}